@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "PlusJakartaSans";
}

@layer base{
  @font-face {
    font-family: "PlusJakartaSans";
    src: url("/public/fonts/PlusJakartaSans-VariableFont_wght.ttf");
  }
  @font-face {
    font-family: "PlusJakartaSans-Italic";
    src: url("/public/fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf");
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}


.tr-row:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}